.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .brand {
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Righteous', cursive;
    font-size: 18px;
  }
  .menu_text {
    font-family: 'Righteous', cursive;
    font-size: 18px;
  }

  #sidenav-overlay { margin-left: 300px; }
  #sidenav-overlay { z-index: 1; }
  #sidenav-overlay { left: 300px; }
  .navbar-fixed { z-index: 999; }

  .wrapper_ {
    height: 100vh;
    width: 100vw;
    line-height: 100vh;
    text-align: center;
}

  